nav.navbar.navbar-expand-md.navbar-dark
	button.navbar-toggler(type="button" data-toggle="collapse" data-target="#g-nav" aria-controls="g-nav" aria-expanded="false" aria-label="Toggle navigation")
		span.navbar-toggler-icon
	a.navbar-brand(href="#") Resonica
	.collapse.navbar-collapse
		ul.navbar-nav
			li.nav-item
				a.nav-link(href="#") World
			li.nav-item
				a.nav-link(href="#") Rule
			li.nav-item
				a.nav-link(href="#") ###