/*
Theme: Cyberpunk for Wordpress
Theme URI: none
Description: cyberpunk
Version: 1.0
Author: Lihn Opion
Aithor URI: none
*/

@import 'animation/_top-animation'

body
	background #181818 !important
	overflow-x hidden
	font-family 'Montserrat' !important
	-ms-overflow-style none
	&::-webkit-scrollbar
		display none

.wrapper
	box-sizing border-box
	height 100vh
	display flex
	padding 5%
	background-attachment fixed
	background-position center
	background-size cover
	background-repeat no-repeat

.parallax
	height 100vh
	background-attachment fixed
	background-position center
	background-size cover
	background-repeat no-repeat

#amusement-park
	background-image url(../assets/img/amusement-park.jpg)

#the-little-hut
	background-image url(../assets/img/the-little-hut.jpg)
