/*
Theme: Cyberpunk for Wordpress
Theme URI: none
Description: cyberpunk
Version: 1.0
Author: Lihn Opion
Aithor URI: none
*/

@import 'animation/_top-animation'

body
	background #181818 !important
	overflow-x hidden
	font-family 'Montserrat' !important
	-ms-overflow-style none
	&::-webkit-scrollbar
		display none

.wrapper
	height 100vh
	width 100%
	position-left -10px
	padding 16px
	background-image url(https://picsum.photos/1920/1080?rondom)

#lab
	background-color #fff
	background-image url(https://picsum.photos/1920/1080?image=1079)

#amusement-park
	background-color #e4e4e4