/*
Theme: Cyberpunk for Wordpress
Theme URI: none
Description: cyberpunk
Version: 1.0
Author: Lihn Opion
Aithor URI: none
*/

@import 'animation/_top-animation'

body
	overflow-x hidden
	background #181818 !important
	font-family 'Montserrat' !important