<!DOCTYPE html>
html(lang="jp")
	include ./Atoms/head.pug

body
	main
		section#top.wrapper.py-4
			canvas.plane-canvas#plane-canvas
			canvas.main-canvas#main-canvas
			.mouse#mouse Hold mouse button
			.plate.text-center
				h2.text-animation(data-js="text") Lorem Ipsum
				p.text-animation(data-js="text") Lihn Opion

		section#lab.wrapper.py-4.reveal			
			p lab
		
		section#amusement-park.wrapper.py-4
			p amusement-park

		section#lake.wrapper.py-4
			p lake

		script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
		script(src="https://cdn.jsdelivr.net/scrollreveal.js/3.0.3/scrollreveal.min.js")
		script(src="./app.js")

		script
  		window.sr = ScrollReveal();
  		sr.reveal('.reveal');
